{
  "client": {
    "host": "localhost",
    "delay": 5000
  },
  "publish": {
    "qos": 0,
    "retain": false
  },
  "subscribe": {
    "qos": 0
  },
  "database": {
    "host": "localhost",
    "user": "icub",
    "password": "database",
    "database": "ohmytrack",
    "debug": false,
    "acquireTimeout": 1000
  }
}
