{
  "client": {
    "host": "localhost",
    "delay": 2000,
    "interval": 1000,
    "time": 300000,
    "wait": 10000
  },
  "publish": {
    "qos": 0,
    "retain": false
  },
  "subscribe": {
    "qos": 0
  },
  "database": {
    "host": "localhost",
    "user": "icub",
    "password": "database",
    "database": "ohmytrack",
    "debug": false,
    "acquireTimeout": 1000
  }
}
